.relatedproducts
{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:10px;
    height:90vh;
}

.relatedproducts h1
{
    color: #171717;
    font-size: 50px;
    font-weight: 600px;
}

.relatedproducts hr
{
    width:200px;height:6px;
    background-color: #252525;
}

.relatedproducts-items
{
    display: flex;
    margin-top:50px;
    gap:30px;
}




