.new-collection
{
    
    display: flex;
flex-direction: column;
   align-items: center;
   gap:10px;
   margin-bottom: 100px;
}
.new-collection h1
{
    font-size: 40px;
    color: #171717;
    font-weight: 600;
}

.new-collection  hr {
    height: 5px ;
    background-color: #252525;
    width: 200px;
    border-radius: 10px;
}

.collections
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap:30px;
}

@media(max-width:1280px)
{
    
    .new-collection h1{
        font-size: 40px;
    }
    .new-collection hr{
        width:160px;
        height:4px;
    }
    .collections{
        gap:20px;
        margin-top: 30px;
    }
}

@media(max-width:1024px)
{
    
    .new-collection h1{
        font-size: 30px;
    }
    .new-collection hr{
        width:120px;
        height:3px;
    }
    .collections{
        gap:15px;
        margin-top: 20px;
    }
}
@media(max-width:800px)
{
    .new-collection
    {
       
        gap:6px;
    }
    .new-collection h1{
        font-size: 20px;
    }
    .new-collection hr{
        width:100px;
       
    }
    .collections{
        gap:5px;
       
    }
}
@media(max-width:500px)
{
   
    .collections
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
    
}
