.item
{
    width:250px;
}
.item p{
    margin: 6px 0px;
}
.item-price
{
    display: flex;
    gap:20px;
}
.item-price-new
{
    color:#374151;
    font-size:15px;
    font-weight: 500;
}
.item-price-old
{
    color: #8c8c8c;
    font-size:15px;
    font-weight: 500;
    text-decoration: line-through;

}
.item:hover
{
    transform: scale(1.2);
    transition: 1s;
}

.item img
{
    width:250px;
    
}

