.offers
{
    width:65%;
    height:60vh;
    display: flex;
    padding:0px 140px;
    margin: 50px auto;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
}

.offers_left
{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    gap:15px;
}
.offers_left h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600px;
}

.offers_left p{
    font-size: 20px;
    font-weight: 600;
    color: #171717;
}

.offers_left button{
    margin-left: 20px;
    width:282px;
    height:50px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color:white;
    font-size: 22px;
    font-weight: 500;
}

.offers_right
{
    display: flex;
    flex:1;
    justify-content: flex-end;
    /* align-items: center; */
    padding-top: 50px;
}

@media(max-width:1280px)
{
    .offers
    {
        padding:0px 80px;
        margin-bottom:120px;
       
    }
    .offers_left h1{

        font-size: 40px;
    }
    .offers_left p{

        font-size: 18px;
    }
    .offers_right img {
        width:300px;
    }
    .offers_left button {
        width:220px;
        height:50px;
        font-size:18px;
    }
    .offers_right
    {
        padding-top: 30px;
    }
}
@media(max-width:1024px)
{
    .offers
    {
        padding:0px 60px;
        margin-bottom:80px;
        height:40vh;
    }
    .offers_left h1{

        font-size: 30px;
    }
    .offers_left p{

        font-size: 16px;
    }
    .offers_right img {
        width:200px;
    }
    .offers_left button {
        width:160px;
        height:40px;
        font-size:16px;
    }
    .offers_right
    {
        padding-top: 10px;
    }
}
@media(max-width:800px)
{
    .offers
    {
        
        margin-bottom:60px;
        
    }
    .offers_left h1{

        font-size: 22px;
    }
    .offers_left p{

        font-size: 13px;
    }
    .offers_right img {
        width:180px;
    }
    .offers_left button {
        width:140px;
        height:30px;
        font-size:12px;
    }
}
@media(max-width:500px)
{
    .offers
    {
        height:25vh;
        margin-bottom:50px;
        
    }
    .offers_left h1{
        font-size: 16px;
    }
    .offers_left p{

        font-size: 10px;
    }
    .offers_right img {
        width:120px;
    }
    .offers_left button {
        width:120px;
        height:25px;
        font-size:10px;
        margin-top: 12px;
    }
    
}